# IMPORTNG THE ESSENTIAL LIBRARY FOR THE DATA

In [ ]:
import numpy as np
import pandas as pd

In [30]:
#Q1. Create a Dictionary of lists to store the information of shipments given in the table. The key should be the shipment id and the value with it’s details. 


ds ={101:{'Sender':1,'Receiver':3,'Start date':'14-03-2020','Delivery date':'25-03-2020','Sender location':'Area 1','Receiver location':'Area 6','Delivery status':'Delivered','Shipping cost':198}, 
    102:{'Sender':4,'Receiver':1,'Start date':'18-06-2020','Delivery date':'09-07-2020','Sender location':'Area 2','Receiver location':'Area 4','Delivery status':'Delivered','Shipping cost':275}, 
    103:{'Sender':2,'Receiver':3,'Start date':'01-12-2020','Delivery date':'Null','Sender location':'Area 5','Receiver location':'Area 1','Delivery status':'In Transit','Shipping cost':200}, 
    104:{'Sender':1,'Receiver':5,'Start date':'23-06-2020','Delivery date':'25-06-2020','Sender location':'Area 1','Receiver location':'Area 4','Delivery status':'Delivered','Shipping cost':314},
    105:{'Sender':3,'Receiver':4,'Start date':'29-08-2020','Delivery date':'10-09-2020','Sender location':'Area 5','Receiver location':'Area 3','Delivery status':'Delivered','Shipping cost':275}, 
    106:{'Sender':5,'Receiver':2,'Start date':'28-06-2020','Delivery date':'Null','Sender location':'Area 3','Receiver location':'Area 1','Delivery status':'In Transit','Shipping cost':270}}
dss=pd.DataFrame(data=ds)
dss.T
#CREATING THE DATAFRAME USING THE PANDAS 
#THEN TRANSPOSING IT

,Sender,Receiver,Start date,Delivery date,Sender location,Receiver location,Delivery status,Shipping cost
101,1,3,14-03-2020,25-03-2020,Area 1,Area 6,Delivered,198
102,4,1,18-06-2020,09-07-2020,Area 2,Area 4,Delivered,275
103,2,3,01-12-2020,Null,Area 5,Area 1,In Transit,200
104,1,5,23-06-2020,25-06-2020,Area 1,Area 4,Delivered,314
105,3,4,29-08-2020,10-09-2020,Area 5,Area 3,Delivered,275
106,5,2,28-06-2020,Null,Area 3,Area 1,In Transit,270

In [2]:
#Q2. Create a Dictionary to store the information of clients given in the table.

In [35]:

ds={1:'Phillip',2:'Omega III',3:'Ramya',4:'Romesh',5:'John'}
ds

{1: 'Phillip', 2: 'Omega III', 3: 'Ramya', 4: 'Romesh', 5: 'John'}

In [34]:
#Q3. Write a code to replace client’s id with their respective name in shipment dictionary using a loop and dictionary comprehension

In [7]:
for key,value in ds.items():
    for k,v in value.items():
        if k in('Sender','Receiver'):
            print({key:{k:dc[v]}})
        else:
            print({key:{k:v}})

AttributeError: 'str' object has no attribute 'items'

In [ ]:
#ANS 4

In [16]:
values= ds.values()
vlaues=list(values)

In [17]:
print(values)

dict_values(['Phillip', 'Omega III', 'Ramya', 'Romesh', 'John'])

In [19]:
for key,value in ds.items():
    for k,v in values.items():
        if ds[key]['Sender']==1:
            print({key:value})
            break

AttributeError: 'dict_values' object has no attribute 'items'

In [ ]:
#ANS 6

In [22]:
for key,value in ds.items():
    for k,v in value.items():
        if ds[key]['Delivery status']=='In Transit':
            print({key:value})
            break

AttributeError: 'str' object has no attribute 'items'