# IMPORTNG THE ESSENTIAL LIBRARY FOR THE DATA

In [ ]:
import numpy as np
import pandas as pd

In [30]:
#Q1. Create a Dictionary of lists to store the information of shipments given in the table. The key should be the shipment id and the value with it’s details. 


ds ={101:{'Sender':1,'Receiver':3,'Start date':'14-03-2020','Delivery date':'25-03-2020','Sender location':'Area 1','Receiver location':'Area 6','Delivery status':'Delivered','Shipping cost':198}, 
    102:{'Sender':4,'Receiver':1,'Start date':'18-06-2020','Delivery date':'09-07-2020','Sender location':'Area 2','Receiver location':'Area 4','Delivery status':'Delivered','Shipping cost':275}, 
    103:{'Sender':2,'Receiver':3,'Start date':'01-12-2020','Delivery date':'Null','Sender location':'Area 5','Receiver location':'Area 1','Delivery status':'In Transit','Shipping cost':200}, 
    104:{'Sender':1,'Receiver':5,'Start date':'23-06-2020','Delivery date':'25-06-2020','Sender location':'Area 1','Receiver location':'Area 4','Delivery status':'Delivered','Shipping cost':314},
    105:{'Sender':3,'Receiver':4,'Start date':'29-08-2020','Delivery date':'10-09-2020','Sender location':'Area 5','Receiver location':'Area 3','Delivery status':'Delivered','Shipping cost':275}, 
    106:{'Sender':5,'Receiver':2,'Start date':'28-06-2020','Delivery date':'Null','Sender location':'Area 3','Receiver location':'Area 1','Delivery status':'In Transit','Shipping cost':270}}
dss=pd.DataFrame(data=ds)
dss.T
#CREATING THE DATAFRAME USING THE PANDAS 
#THEN TRANSPOSING IT

,Sender,Receiver,Start date,Delivery date,Sender location,Receiver location,Delivery status,Shipping cost
101,1,3,14-03-2020,25-03-2020,Area 1,Area 6,Delivered,198
102,4,1,18-06-2020,09-07-2020,Area 2,Area 4,Delivered,275
103,2,3,01-12-2020,Null,Area 5,Area 1,In Transit,200
104,1,5,23-06-2020,25-06-2020,Area 1,Area 4,Delivered,314
105,3,4,29-08-2020,10-09-2020,Area 5,Area 3,Delivered,275
106,5,2,28-06-2020,Null,Area 3,Area 1,In Transit,270

In [2]:
#Q2. Create a Dictionary to store the information of clients given in the table.

In [35]:
ds={1:'Phillip',2:'Omega III',3:'Ramya',4:'Romesh',5:'John'}
ds

{1: 'Phillip', 2: 'Omega III', 3: 'Ramya', 4: 'Romesh', 5: 'John'}

In [34]:
#Q3. Write a code to replace client’s id with their respective name in shipment dictionary using a loop and
#dictionary comprehension.

In [61]:
result = {}
for key, value in dss.items():
    new_value = {k: ds[v] if k in ('Sender', 'Receiver') else v for k,v in value.items()}
    result[key] = new_value
        
#results=pd.DataFrame(data=result)
#results.T

In [51]:
#Q4. Print all shipment details that are sent by Phillip

In [77]:
phillips = list(filter(lambda value: value['Sender'] == 'Phillip',
                       result.values()))
ph=pd.DataFrame(phillips)
ph

,Sender,Receiver,Start date,Delivery date,Sender location,Receiver location,Delivery status,Shipping cost
0,Phillip,Ramya,14-03-2020,25-03-2020,Area 1,Area 6,Delivered,198
1,Phillip,John,23-06-2020,25-06-2020,Area 1,Area 4,Delivered,314

In [ ]:
#Q5. Print all shipment details that are received by Ramya

In [69]:
ramya = list(filter(lambda value: value['Sender'] == 'Ramya',
                       result.values()))
ry=pd.DataFrame(ramya)
ry
#ramya is denoted by ry 
#Hence you can see the details f the ramya

,Sender,Receiver,Start date,Delivery date,Sender location,Receiver location,Delivery status,Shipping cost
0,Ramya,Romesh,29-08-2020,10-09-2020,Area 5,Area 3,Delivered,275

In [ ]:
#Q6. Print all shipments which are in 'In-Transit' status

In [81]:
for key,value in dss.items():
    for k,v in value.items():
        if k in('Sender','Receiver')=='In Transit':
            print({key:{k:dc[v]}})
        else:
            print({key:{k:v}})

{101: {'Sender': 1}}
{101: {'Receiver': 3}}
{101: {'Start date': '14-03-2020'}}
{101: {'Delivery date': '25-03-2020'}}
{101: {'Sender location': 'Area 1'}}
{101: {'Receiver location': 'Area 6'}}
{101: {'Delivery status': 'Delivered'}}
{101: {'Shipping cost': 198}}
{102: {'Sender': 4}}
{102: {'Receiver': 1}}
{102: {'Start date': '18-06-2020'}}
{102: {'Delivery date': '09-07-2020'}}
{102: {'Sender location': 'Area 2'}}
{102: {'Receiver location': 'Area 4'}}
{102: {'Delivery status': 'Delivered'}}
{102: {'Shipping cost': 275}}
{103: {'Sender': 2}}
{103: {'Receiver': 3}}
{103: {'Start date': '01-12-2020'}}
{103: {'Delivery date': 'Null'}}
{103: {'Sender location': 'Area 5'}}
{103: {'Receiver location': 'Area 1'}}
{103: {'Delivery status': 'In Transit'}}
{103: {'Shipping cost': 200}}
{104: {'Sender': 1}}
{104: {'Receiver': 5}}
{104: {'Start date': '23-06-2020'}}
{104: {'Delivery date': '25-06-2020'}}
{104: {'Sender location': 'Area 1'}}
{104: {'Receiver location': 'Area 4'}}
{104: {'Delivery status': 'Delivered'}}
{104: {'Shipping cost': 314}}
{105: {'Sender': 3}}
{105: {'Receiver': 4}}
{105: {'Start date': '29-08-2020'}}
{105: {'Delivery date': '10-09-2020'}}
{105: {'Sender location': 'Area 5'}}
{105: {'Receiver location': 'Area 3'}}
{105: {'Delivery status': 'Delivered'}}
{105: {'Shipping cost': 275}}
{106: {'Sender': 5}}
{106: {'Receiver': 2}}
{106: {'Start date': '28-06-2020'}}
{106: {'Delivery date': 'Null'}}
{106: {'Sender location': 'Area 3'}}
{106: {'Receiver location': 'Area 1'}}
{106: {'Delivery status': 'In Transit'}}
{106: {'Shipping cost': 270}}

In [ ]:
#ANS 4

In [72]:
for key,value in dss.items():
    for k,v in value.items():
        if dss[key]['Sender']==1:
            print({key:value})
            break

{101: Sender                        1
Receiver                      3
Start date           14-03-2020
Delivery date        25-03-2020
Sender location          Area 1
Receiver location        Area 6
Delivery status       Delivered
Shipping cost               198
Name: 101, dtype: object}
{104: Sender                        1
Receiver                      5
Start date           23-06-2020
Delivery date        25-06-2020
Sender location          Area 1
Receiver location        Area 4
Delivery status       Delivered
Shipping cost               314
Name: 104, dtype: object}

In [78]:
#Q10. Print the name of all senders whose delivery status is ‘in-transit’?

In [79]:
for key,value in dss.items():
    for k,v in value.items():
        if dss[key]['Delivery status']=='In Transit':
            print({key:value})
            break

{103: Sender                        2
Receiver                      3
Start date           01-12-2020
Delivery date              Null
Sender location          Area 5
Receiver location        Area 1
Delivery status      In Transit
Shipping cost               200
Name: 103, dtype: object}
{106: Sender                        5
Receiver                      2
Start date           28-06-2020
Delivery date              Null
Sender location          Area 3
Receiver location        Area 1
Delivery status      In Transit
Shipping cost               270
Name: 106, dtype: object}